/.vscode
/env
litreview/litreview/__pycache__
litreview/review/__pycache__
litreview/review/migrations/__pycache__/
litreview/authentication/__pycache__
litreview/authentication/migrations/__pycache__
Développez_une_application_Web_en_utilisant_Django_devant_xavier.zip
Développez_une_application_Web_en_utilisant_Django_devant_xavier/Devant_Xavier_1_repo_052022.txt
