* { 
    background: black;
    color: whitesmoke;
    box-sizing: border-box;
    margin: 0;
    padding: 0.3rem 0;
}

body {
    width: 100%;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

nav li {
    padding-right: 1rem;
}

header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:space-around;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

label {
    display: block;
}

main a {
    color: white;
    text-decoration: none;
    background-color: black;
    border: 2px solid gray;
    border-style: outset;
    padding: 2px 4px;
}

.follow label {
    display: none;
}

.flux {
    min-width: 80%;
}

.follow {
    min-width: 100%;
}

.follow h2,
.follow form {
    text-align: center;
}

.followed,
.follower {
    display: flex;
    justify-content: center;
}

.follow input,
.followed p {
    min-width: 60%;
}

.follower p{
    min-width: 70%;
    text-align: left;
}

.header {
    display: flex;
    justify-content: space-between;
    min-width: 80%;
    padding: 0 1rem;
}

.footer {
    display: flex;
    justify-content: right;
    min-width: 80%;
}

.footer p {
    padding-right: 2rem;
}

.review .body {
    display: flex;
    justify-content: left;
    align-items: center;
}

.ticket .body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.review-separator {
    padding: 0 1rem;
}

.post,
.review-ticket {
    min-width: 80%;
    border: 1px solid white;
}

div {
    padding-left: 1rem;
}

img {
    padding-bottom: 1rem;
}