* { 
    background: black;
    color: whitesmoke;
    box-sizing: border-box;
    margin: 0;
    padding: 0.3rem 0;
}

body {
    width: 100%;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

nav li {
    padding-right: 1rem;
}

nav a {
    text-decoration: none;
}

header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:space-around;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

label {
    display: block;
}

button,
main a {
    color: white;
    text-decoration: none;
    background-color: black;
    border: 2px solid gray;
    border-style: outset;
    padding: 2px 4px;
}

.flux {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review,
.ticket{
    width: 100%;
}

.follower h2,
.follow form {
    text-align: center;
}


.follower {
    align-items: center;
    width: 70%;
}

.follow label {
    display: none;
}

.container {
    width: 100%;
    display: flex;
}

.follow {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid grey;
}
.container {
    justify-content: space-evenly;
}

.container .post {
    max-width: 40%;
}

.create .link,
.create .container button {
    padding: 2px 4px;
    margin-top: 10px;
}

.create button {
    padding: 3px 10px;
    margin-top: 10px;
}

.create,
.create form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.helptext {
    display: none;
}

.container .post p {
    width: 90%;
}

.post form p {
    min-width: 90%;
}

.post textarea,
.post input {
    min-width: 75%;
}

.container .post textarea,
.container .post input {
    min-width: 90%;
}

#img-handler {
    padding-left: 10%;
}

#image {
    padding: 2px 8px;
    margin: 3px 4px;
}

#id_image,
#image-clear_id {
    min-width: 0%;
    margin-left: 3px;
}

#image-clear_id + label {
    display: inline;
}

.follow input {
    min-width: 90%;
    margin-right: 3px;
}
.follow p {
    min-width: 89%;
}

.follow .solo {
    min-width: 98%;
}

.header {
    display: flex;
    justify-content: space-between;
    min-width: 80%;
    padding: 0 1rem;
}

.footer {
    display: flex;
    justify-content: right;
    min-width: 80%;
}

.footer p {
    padding-right: 2rem;
}

.review .body {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.ticket .body {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.review-separator {
    padding: 0 1rem;
}

.post,
.review-ticket {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
}

.post {
    width: 80%;
}

.review-ticket {
    width: 95%;
}

.review .ticket .post {
    margin-left: 10%;
}

div {
    padding-left: 1rem;
    padding-right: 0.3rem;
}

img {
    padding-bottom: 1rem;
}