* { 
    background: black;
    color: whitesmoke;
    box-sizing: border-box;
}

body {
    width: 100%;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

nav li {
    padding-right: 1rem;
}

header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:space-around;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

label {
    display: block;
}

.flux {
    min-width: 80%;
}

.header {
    display: flex;
    justify-content: space-between;
    min-width: 80%;
    padding: 0 1rem;
}

.footer {
    display: flex;
    justify-content: right;
    min-width: 80%;
}

.footer p {
    padding-right: 2rem;
}

.review-body {
    display: flex;
    justify-content: left;
}

.post,
.review-ticket {
    min-width: 80%;
    border: 1px solid white;
}

div {
    padding-left: 1rem;
}

img {
    padding-bottom: 1rem;
}