{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>LITReview</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5.0, minimum-scale=1"/>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
    </head>
    <body>
        <header>
            {%  if user.is_authenticated %}
            <p>Bonjour {{ request.user }}!</p>
            <h1>LITReview</h1>
            {% include 'partials/nav.html' %}
            {% else %}
            <h1>LITReview</h1>
            {% endif %}
        </header>
        <main>
        {% block content %}
        {% endblock content %}
        </main>
        <footer>
            <script src="{% static 'script.js' %}"></script>
        </footer>
    </body>
</html>
