{% load static %}

<html>
    <head>
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}" />
    </head>
    <body>
        <header>
            {%  if user.is_authenticated %}
            <p>Bonjour {{ request.user }}!
            </p>
            <h1>LITReview</h1>
            {% include 'partials/nav.html' %}
            {% else %}
            <h1>LITReview</h1>
            {% endif %}
        </header>
        <main>
        {% block content %}
        {% endblock content %}
        </main>
        <footer></footer>
    </body>
</html>
