<div class="review">
    <div class="header">
        {% if user != review.user %}
        <p>{{ review.user }} a publié une critique</p>
        {% else %}
        <p>Vous avez publié une critique</p>
        {% endif %}
        <p>{{ review.time_created }}</p>
    </div>
    <article class="body">
        <h3>{{ review.headline }}</h3>
        <p class="review-separator">-</p>
        {% for i in "12345" %}
            {% if forloop.counter > review.rating %}
                <p>☆</p>
            {% else %}
                <p>★</p>
            {% endif %}
        {% endfor %}
    </article>
    <div class="review-ticket">
        {% include 'review/partials/ticket_reviewed.html' with ticket=review.ticket %}
    </div>
</div>