{% extends 'base.html' %}

{% block content %}
<div class="create">
    <h2>Créer une critique</h2>
    <form method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="post">
                <h3>Livre / Article</h3>
                {{ ticket_form }}
            </div>
            <div class="post">
                <h3>Critique</h3>
                {{ review_form }}
            </div>
        </div>
        {% csrf_token %}
        <button type="submit" >Envoyer</button>
    </form>
</div>
{% endblock content %}