{% extends 'base.html' %}
{% block content %}
    <section class="follower">
        <h2>Suivre d'autres utilisateurs</h2>
        <form method="post" class="follow">
            {{ form }}
            {% csrf_token %}
            <button type="submit" id="follow">Envoyer</button>
        </form>
        <p>
            {% if message %} {{ message }} {% endif %}
        </p>
    </section>
    <section class="follower">
        <h2>Abonnements</h2>
        {% for followed in followeds %}
        <div class="follow">
            <p>{{ followed.username }}</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="followed" value="{{ followed.username }}">Désabonner</button>
            </form>
        </div>
        {% endfor %}
    </section>
    <section class="follower">
        <h2>Abonnés</h2>
        {% for follower in followers %}
        <div class="follow">
            <p class="solo">{{ follower.username }}</p>
        </div>
        {% endfor %}
    </section>
{% endblock content %}